@import "Vars";

.recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  .recipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    padding: 2rem;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 2rem 3rem 5rem #aaa;
    a {
      h2 {
        width: 100%;
        border-radius: 0.5rem;
        font-weight: bold;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        text-shadow: 0 0.5rem 0.5rem #555;
        color: $white;
        text-align: left;
      }
      img {
        border-radius: 0.5rem;
        object-fit: cover;
        width: 100%;
        margin-bottom: 2rem;
      }
      &:hover h2 {
        color: lighten($primary, 30%);
      }
    }
    button {
      font-size: 2rem;
      text-transform: uppercase;
      color: $white;
      background-color: $primary;
      border: none;
      border-radius: 0.5rem;
      height: 3rem;
    }
    .ingredient-list {
      margin-top: 1rem;
      background-color: $light-grey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      list-style-type: none;
      li {
        margin: 0.5rem 0;
      }
      .ingredient-text {
        color: $white;
        font-size: 1.5rem;
      }
      .ingredient-weight {
        color: $primary;
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  .recipes {
    .recipe {
      width: 25%;
    }
  }
}
